@keyframes anim-svg {
    100% {
        stroke-dashoffset: 0px;
        fill: #1b707f;
    }
}

.about__items {
    overflow: hidden;
}
.about__item:nth-child(1) {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out 0.1s;
}
.about__item:nth-child(2) {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out 0.3s;
}
.about__item:nth-child(3) {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out 0.5s;
}
.about__item:nth-child(4) {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out 0.7s;
}

.about__items.active .about__item {
    opacity: 1;
    transform: translateY(0px);
}

/*  */
/* modal animation */
/*  */

.modal {
    perspective: 600px;
    -webkit-perspective: 600px;
}
.modal-box {
    transform: rotateY(180deg);
    transform-origin: 50% 50% 118px;
    animation: modal-anim 1.1s linear forwards;
}
@keyframes modal-anim {
    0% {
        transform: rotateY(-360deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

/*  */
/* services animation */
/*  */
.services__tab {
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
    overflow: hidden;
}
.services.active .services__tab {
    animation: tab-overflow 1s linear 0.5s forwards;
}
@keyframes tab-overflow {
    100% {
        overflow: visible;
    }
}

.services__link {
    transform: rotateX(180deg) translateY(5%);
    transform-origin: 50% 0% 0px;
}
.services.active .services__tab:nth-child(1) .services__link {
    animation: tab-anim 1s linear 0s forwards;
}
.services.active .services__tab:nth-child(2) .services__link {
    animation: tab-anim 1s linear 0.1s forwards;
}
.services.active .services__tab:nth-child(3) .services__link {
    animation: tab-anim 1s linear 0.2s forwards;
}
.services.active .services__tab:nth-child(4) .services__link {
    animation: tab-anim 1s linear 0.3s forwards;
}

@keyframes tab-anim {
    0% {
        transform: rotateX(-180deg) translateY(5%);
    }

    100% {
        transform: rotateX(0deg) translateY(0%);
    }
}

/*  */
/*  */
/* ------------------------------------------------------  HEADER animation */
/*  */
/*  */

/* 1 car */

.header-car__img {
    transform: translateX(-500%);

    transition: all 2s ease-in-out 3s;
}

.header.active .header-car__img {
    transform: translateX(0%);
}

/* 2 title */

.header__title {
    overflow: hidden;
}
.header.active .header__title {
    opacity: 1;
    overflow: hidden;
}

@keyframes header-title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* 3 title items */

.header-content__info {
    overflow: hidden;
}

.header-content__info-title {
    transform: translateY(-120%);
    transition: all 1s ease-in-out 3.7s;
}
.header-content__info-title span {
    transform: translateX(-120%);
    transition: all 1s ease-in-out 4s;
}
.header.active .header-content__info-title {
    transform: translateY(-0%);
}
.header.active .header-content__info-title span {
    transform: translateX(-0%);
}

/* 4 item */
.header-content__item {
    overflow: hidden;
}

.header-content__item:nth-child(1) .header-content__item-text {
    transform: translateX(-200%);
}

.header.active .header-content__item:nth-child(1) .header-content__item-text:nth-child(1) {
    animation: header-text-left 0.8s ease-in-out 4.8s forwards;
}
.header.active .header-content__item:nth-child(1) .header-content__item-text:nth-child(2) {
    animation: header-text-left 0.8s ease-in-out 5.2s forwards;
}
.header.active .header-content__item:nth-child(1) .header-content__item-text:nth-child(3) {
    animation: header-text-left 0.8s ease-in-out 5.4s forwards;
}

@keyframes header-text-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.header-content__item:nth-child(2) .header-content__item-text {
    transform: translateX(200%);
}
.header.active .header-content__item:nth-child(2) .header-content__item-text:nth-child(1) {
    animation: header-text-right 0.8s ease-in-out 4.8s forwards;
}
.header.active .header-content__item:nth-child(2) .header-content__item-text:nth-child(2) {
    animation: header-text-right 0.8s ease-in-out 5.2s forwards;
}
.header.active .header-content__item:nth-child(2) .header-content__item-text:nth-child(3) {
    animation: header-text-right 0.8s ease-in-out 5.4s forwards;
}

@keyframes header-text-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*  */
/* --------------------------------------------------------------- PRELOADER */
/*  */

.preloader.hidden {
    animation: preloader-hidden 1s ease-in-out 0.1s forwards;
}

@keyframes preloader-hidden {
    0% {
        z-index: 10;
        opacity: 1;
        transform: translateX(0%);
    }
    90% {
        transform: translateX(100%);
        opacity: 1;
        z-index: 10;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
        z-index: -1;
    }
}

.preloader__svg.hidden {
    animation: preloader-svg-hidden 0.5s ease-in-out 0s forwards;
}

@keyframes preloader-svg-hidden {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*  about car */

.about__img-boxes {
    /* animation: boxes-img 20s ease infinite; */
    animation: boxes-img 10s ease infinite;
}
@keyframes boxes-img {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
.about__img-car {
    /* animation: car-img 20s ease infinite; */
    animation: car-img 10s ease infinite;
}
@keyframes car-img {
    0% {
        transform: translateX(-300%);
    }
    50% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-50%);
    }
    74% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(300%);
    }
}
